
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF; }
        :root {
            --font-family: "Roboto", sans-serif;
            --navy-blue: #2E2F42;
            --slate: #434455;
            --white: #FFFFFF;
        }
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
    text-decoration: none;
    }   
ul, ol { 
      list-style: none;
      margin: 0;
  padding-left: 0;  
    } 
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
img {
  display: block;
	max-width: 100%;
}
.container { 
max-width:1158px; 
padding-left: 15px; 
padding-right: 15px;
margin: 0 auto;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-right: 76px;
}
.logo-accent {
    color: #2e2f42;
}
.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  gap: 76px;
  justify-content: space-between;
}
.nav {
    display: flex;
   gap: 40px;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
}
.contact-block ul {
  display: flex;
  gap: 40px;
}
.nav-menu {
    display: flex;
    gap: 40px;
    justify-content: flex-start;
    align-items: center;
  list-style: none;
}
.nav-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}
.contact-block {
    font-style: normal;
    display: flex;
  flex-direction: column;
  gap: 4px;
}
.contact-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}
.hero-section {
    background-color: #2e2f42;
    text-align: center;
    padding: 120px 0;
}
.hero-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    max-width: 496px;
  margin: 0 auto 48px;
}

.hero-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
     letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    padding: 16px 32px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms ease-in-out;
}
    

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
} 

.hero-section {
    padding: 120px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
}
.services-list,
.team-list,
.portfolio-list {
  display: flex;
    flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
  margin: 0;
}
.services-section {
    background-color: #FFFFFF;
    padding: 120px 0;
}
.our-services-section {
    display: none;
}
.heading-services {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;       
}
.services-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    padding: 0;
    margin: 0;
}
.service-item {
    padding: 24px;
    flex-basis: calc((100% - 72px) / 4);
}
.description {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;

}
.team-section {
    background-color: #F4F4FD;
    padding-top: 120px;
  padding-bottom: 120px;
}
.team-heading {
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
        margin-top: 120px;
        margin-bottom: 72px;
}
.team-list > li {
    background-color: #FFFFFF
}
.team-item {
border-radius: 0 0 4px 4px;
padding: 0px 0px 32px 0px;
width: 264px;
height: 380px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff;
}
.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 32px;
}
.team-position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 24px;
}
.portfolio-section {
    padding-top: 120px;
  padding-bottom: 120px;
    background-color: #E7E9FC;
    padding-bottom: 130px;
}
.portfolio-heading {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color:#2e2f42;
    margin-top: 120px;
        margin-bottom: 72px;
}
.portfolio-list > li {
    background-color: #FFFFFF;
}
.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    margin-top: 32px;
}
.portfolio-function {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        margin-bottom: 24px;
 }
  .footer {
    background-color: #2E2F42; 
  }  
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 48px 0;
    gap: 24px;
    flex-wrap: wrap;
    max-width: 264px;
   
  }
  .logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    
  }
  .logo-accent-footer {
    color: #f4f4fd
  }
  .footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    

  }
